h1 {
    text-align: center;
    font-family: "Inconsolata", monospace;
}

h3, h4 {
    font-family: "Josefin Sans", sans-serif;
}

body {
    background: url(/assets/img/backgrounds/Feild.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
    padding-bottom: 80px; /* Para evitar superposición con el footer */
}

.container {
    margin-top: 20px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-img-top {
    object-fit: cover;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cantidad {
    display: flex;
    align-items: center;
}

.btn-cantidad button {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.cantidad {
    font-size: 1.2rem;
    margin: 0 10px;
}

#totalContainer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#descuento {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.mensaje-agregado {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}