/* Estilos generales */
h1, h3, h4 {
    text-align: center;
    font-family: "Inconsolata", monospace;
    margin-bottom: 10px; /* Espacio inferior entre títulos */
}

body {
    background: url(/assets/img/backgrounds/Feild.jpg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8;
    padding-bottom: 120px; /* Aumentamos el padding para dejar espacio suficiente para el footer */
    min-height: 100vh; /* Asegura que el cuerpo tenga al menos el tamaño completo de la ventana */
    position: relative; /* Para posicionar correctamente el footer */
}

.container {
    margin-top: 20px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative; /* Asegura que el contenido dentro del container no se solape con el footer */
    z-index: 1; /* Ajustamos el z-index para estar encima del fondo */
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    border: none;
}

.card-img-top {
    object-fit: cover;
    height: 150px;
    border-radius: 10px 10px 0 0;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-cantidad button {
    font-size: 1.4rem; /* Aumento del tamaño del texto */
    padding: 8px 16px; /* Aumento del padding */
    border-radius: 5px; /* Borde redondeado */
}

.cantidad {
    font-size: 1.2rem;
    margin: 0 10px;
}

#totalContainer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#descuento {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.mensaje-agregado {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: #5cb85c; /* Verde más oscuro */
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

#listaProductos {
    margin-bottom: 140px; /* Aumentamos el margen inferior para dejar espacio suficiente */
}
